.th-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sorting {
  display: flex;
  flex-direction: column;
  margin-left: 12px;

  svg.on path{
    fill: #2593FC;
  }
}

.filter {
  width: 12px;
  height: 12px;
  margin-left: auto;

  &:hover {
    color: #252525
  }
}