<omni-table #basicTable [tableData]="listOfDisplayData">
  <omni-pagination class="pagination" selectedPageSize="15" [pageSizes]="[10, 15, 20,30]" [totalItems]="listOfData.length"
    [currentPage]="1">
  </omni-pagination>
  <thead>
    <tr>
      <th isSortable="true" sortKey="key" (sortChange)="onSortChange($event)">Key</th>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data" class="editable-row">
      <td>{{ data.key }}</td>
      <td>{{ data.name }}</td>
      <td>
        <div class="editable-cell" *ngIf="editId !== data.key; else editTpl">
          <div class="editable-cell-value-wrap" (click)="startEdit(data.key, $event)">
            {{ data.name }}
          </div>
        </div>
        <ng-template #editTpl>
          <input #inputField type="text" nz-input [(ngModel)]="data.name" />
        </ng-template>
      </td>
      <td>{{ data.address }}</td>
      <td>
        <a>Action 一 {{ data.name }}</a>
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</omni-table>