<omni-table #basicTable [tableData]="listOfDisplayData">
  <thead>
    <tr>
      <th isSortable="true" sortKey="key" (sortChange)="onSortChange($event)">Key</th>
      <th isSortable="true" [filterName]="'ageFilter'" shouldShowFilter="true" (filterChange)="onFilterChange($event)"
        [multipleFilters]="ageFilter" sortKey="age">Age</th>
      <th isSortable="true" sortKey="name" [multipleFilters]="nameFilter" [filterName]="'name'" shouldShowFilter="true">Name</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data" class="editable-row">
      <td>{{ data.key }}</td>
      <td>{{ data.age }}</td>
      <td>
        <div class="editable-cell" *ngIf="editId !== data.key; else editTpl">
          <div class="editable-cell-value-wrap" (click)="startEdit(data.key, $event)">
            {{ data.name }}
          </div>
        </div>
        <ng-template #editTpl>
          <input #inputField class="edit-text" type="text" [(ngModel)]="data.name"
            (ngModelChange)="updateTextToUrl(data)" />
        </ng-template>
      </td>
      <td>{{ data.address }}</td>
      <td>
        <div [omniMapTypeToHtmlControlMapTypeToHtmlControl]="false"></div>
      </td>
    </tr>
  </tbody>
</omni-table>